.header-AboutUs {
    width: 100%;
    height: 70vh;
    background-color: gray;

    padding-top: 0.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-AboutUs h1:nth-child(1) {
    line-height: 24.8px;
}

.header-AboutUs p {
    width: 70%;
    text-align: center;
    line-height: 16.8px;
}



.storyBehaid {
    display: flex;
    flex-direction: column;
    margin: 2em;

}

.storyBehaid h1 {
    width: 60%;
    line-height: 24.8px;

}

.storyBehaid p {
    line-height: 16.8px;
    align-items: justify;
}

.storyBehaindBtn {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    margin-left: 1em;
}

.whiteBackground {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.purpleSquare {
    width: 230px;
    height: 230px;
    background-color: #E4D9EA;
    transform: rotate(-135deg);
    position: relative;
    left: -115px;
}

.textSectionInWhiteBack {
    width: 50%;
    position: relative;
    left: -40px;
}

.textSectionInWhiteBack h1 {
    line-height: 24.8px;
}

.textSectionInWhiteBack p {
    align-items: justify;
}

.lastHeadingWork {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: flex-start;
    margin: auto;
}

.lastHeadingWork h1 {
    width: 70%;
}

.personas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
    .header-AboutUs {
        height: 80vh;
      
    }
    
    .header-AboutUs h1 {
        line-height: 24.8px;
        color: var(--whiteCol);
        z-index: 20;
    }
    
    .header-AboutUs p {
        width: 70%;
        text-align: center;
        line-height: 16.8px;
        z-index: 20;

        color: var(--whiteCol);

    }
    .aboutTextContainer{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 3%;
    }
    .opacityTextContainer{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        background-color: #000;
        z-index: 10;
        filter: blur(2px);


    }
    
 
    
    .storyBehaid {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 5em auto;
        justify-content: center;
        align-items: center;
    
    }
    
    .storyBehaid h1 {
        width: 80%;
        line-height: 34.8px;
        text-align: center;
    
    }
    
    .whiteBackground {
        height: 80vh;
    
    }
    
    .purpleSquare {
        width: 530px;
        height: 530px;
        left: -375px;
    }
    
    .textSectionInWhiteBack {
        width: 50%;
        position: relative;
        left: -40px;
        height: 300px;
    }
    
    .textSectionInWhiteBack h1 {
        line-height: 24.8px;
    }
    
    .textSectionInWhiteBack p {
        align-items: justify;
    }
    
    .lastHeadingWork {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: justify;
        align-items: flex-start;
        margin: auto;
    }
    
    .lastHeadingWork h1 {
        width: 50%;
    }
    .lastHeadingWork p{
        width: 60%;
    }
    
    .personas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1em
    }
    .persona{
        width: 35%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        background-color: gray;
    }
    .persona img{
        width: 70%;
        height: 250px;
        
    }
    

}
