.Video {
    display: none;
}

.unwanted {
    display: none;
}

.opacityLayout {
    display: none;
}

.video-container {
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    height: 66.4vh;
    background-color: var(--colorBackground);
    border-bottom: 0.1em solid var(--blackCol);
}

.welcome-text-container {
    position: absolute;
    top: 15em;
    left: 10%;
    transform: none;
    width: 80%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 65;

}

.welcome-text-container h1 {
    line-height: 44.2px;
    font-weight: 600;

    color: var(--blackCol);
}

.welcome-text-container p {

    color: var(--blackCol);
    text-align: start;
    width: 75%;
}

.btn {
    width: 254px;
    height: 56px;
    border: none;
    color: var(--blackCol);
    background-color: var(--btnColor);
    text-decoration: none;
    font-size: var(--MobileBtn);
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    line-height: 16.8px;
    font-family: var(--fontParagraph);
    position: relative;
    gap: 10px;
}

.serviceBtn {
    margin-top: 16px;
}

.aboutBtn {
    margin-top: 2.5em;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    gap: 50px;

}

.aboutUsContainer {
    width: 70%;

}

.aboutUsContainer h1 {
    line-height: 25px;
    margin-top: 2em;
}

.aboutUsContainer p {
    width: 80%;
    text-align: justify;

}

.logoContainer {
    width: 100%;
}

.logoContainer img {
    width: 100%;
}

.advantage {
    height: 60vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.advantage h3 {
    line-height: 25px;
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    width: 200px;
    margin: auto;
    position: relative;
    left: 1em;


}

.skill {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.skill h1 {
    line-height: 25px
}

.skillLine {
    background-color: var(--blackCol);
    width: 4px;

    position: relative;
    top: 0.em;
    left: -1em;
}

.services {
    width: 100vw;
    height: 100vh;
    background-color: var(--blackCol);

}

.service {
    width: 90vw;
    height: auto;
    position: relative;
    top: 1em;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

.service h3 {
    line-height: 1em;
    color: var(--whiteCol);
    width: 100%;
    margin-bottom: 3em;

}

.serviceContainer {
    color: var(--whiteCol);
    font-family: var(--fontHeading);
    font-weight: 400;
    font-size: 15px;
    line-height: 14px;
    margin-bottom: 3em;



}

.serviceContainer h1 {
    margin-bottom: 2em;
}

.serviceContainer:first-of-type {
    position: relative;
    top: 5%;
}

.serviceContainer:last-of-type {
    position: relative;
    bottom: 5%;
    left: 0%;
}

.VisService {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    line-height: 1px;
    left: 25%;
    width: 230px;
    z-index: 121;
    background: linear-gradient(180deg, #fff -10.21%, #FCD660 110.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.backgroundLinear {
    z-index: -1;
    width: 0.3em;
    height: 85%;
    position: absolute;
    top: 0.8em;
    left: -2em;
    background: linear-gradient(180deg, #fff -10.21%, #FCD660 110.79%);

}

.VisService p {

    padding: 5px;
}

.work {
    width: 100%;
    height: 150vh;
    position: relative;
}

.work h3 {
    width: 90%;
    margin-left: 5%;
    line-height: 24.8px;

}

.galery {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    height: 200vh;
   
}

.galery img {
    width: 100%;

}

.galery img:nth-child(1) {
    width: 40%;
    margin: 0 30% 0 30%;
}

.galery img:nth-child(2) {
    width: 90%;
}

.galery img:nth-child(3) {
    width: 90%;
}

.galery img:nth-child(4) {

    width: 40%;
}

.galery img:nth-child(5) {

    width: 40%;
}

.galery img:nth-child(6) {

    width: 100%;
}

.gallery-btn {
   position: absolute;
   bottom: 5%;
   width: 40%;
   left: 30%;
}

@media (min-width: 768px) {
    .LinksNavPar {
        display: flex;
    }

    .Video {
        display: block;
    }

    .unwanted {
        display: block;
    }

    .opacityLayout {
        display: block;
    }

    .video-container {
        height: 100vh;
    }

    .Video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .welcome-text-container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        max-width: 60%;
        height: 35%;
        align-items: center;
    }

    .welcome-text-container h1 {
        text-align: center;
        color: var(--whiteCol);
    }

    .welcome-text-container p {
        padding: 10px;
        color: var(--whiteCol);
        text-align: center;
        width: 600px;
    }

    .btn {
        width: 334px;
        height: auto;
        transition: ease-out 0.3s;
        padding: 15px 25px;
        font-size: var(--btnSize);
        line-height: 25px;
    }

    .btn:hover {
        background-color: transparent;
        border: 1px solid var(--colorBackground);
        border-image: linear-gradient(to right, var(--colorPrimery) 15%, var(--colorBackground) 15%);
        border-image-slice: 1;
        position: relative;
    }

    .footer-btn {
        width: 38%;
        height: 51px;
        padding: 12px 24px 12px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
        background-color: var(--btnColor);
        border: none;
    }


    @keyframes yellowSlide {
        0% {
            border-image: linear-gradient(to right, var(--colorPrimery) 15%, var(--colorBackground) 15%);

        }

        100% {
            border-image: linear-gradient(to right, var(--colorPrimery) 15%, var(--colorBackground) 15%);

        }
    }

    .opacityLayout {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--blackCol);
        z-index: 55;
        width: 100%;
        height: 100%;
        opacity: 0.30;
    }

    .description {
        flex-direction: row;
        justify-content: center;
        height: 100vh;
        width: 80%;
        gap: 15%;
        margin: auto;

    }

    .aboutUsContainer {
        width: 40%;
        height: 500px;
    }
    .aboutUsContainer h1 {
        line-height: 1em;
        margin-top: 2em;
    }

    .aboutUsContainer p {
        line-height: 24px;
        width: 100%;
    }

    .logoContainer {
        width: 40%;
        height: 500px;

    }

    .advantage {
        height: 100vh;
    }

    .advantage h3 {
        width: 55%;

    }

    .skills {
        justify-content: center;
        gap: 5em;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .skill h1 {
        font-size: 53px;
        line-height: 66px;
    }

    .skill {
        flex-direction: column;

    }

    .skillLine {
        width: 100%;
        height: 0.5em;
        position: relative;
        top: 7em;
        left: 0.4em;
    }

    .services {
        height: 250vh
    }

    .service {
        height: 120vh;
        top: 10%;
    }

    .service h3 {
        width: 50%;
    }

    .serviceContainer {
        font-size: 45px;
    }

    .serviceContainer h1 {
        font-size: 80px;
    }

    .serviceContainer:first-of-type {}

    .serviceContainer:last-of-type {
        left: 35%;
    }

    .VisService {
        gap: 1px;
        left: 15%;
        width: 800px;
    }

    .VisService p {
        padding: 0;
        font-size: 36px;
    }
    .VisService{
        opacity: 1;
    }
    .work {
        height: 375vh;
    }

    .work h3 {
        width: 30%;
        margin: 4em;
    }
    .galery {
        z-index: -2;
    }

    .galery img {
        width: 30%;
        position: absolute;
    }

    .gallery-btn {
    width: 24%;
        left: 38%;
    bottom: 5%;
    }



    .galery img:nth-child(1) {

        width: 25%;
        top: 0%;
        left: 20%;
    }

    .galery img:nth-child(2) {

        width: 20%;
        top: 2%;
        left: 35%;

    }

    .galery img:nth-child(3) {

        width: 30%;
        top: 15%;
        left: 22%;

    }

    .galery img:nth-child(4) {

        width: 35%;
        top: 17%;
        left: 30%;
    }

    .galery img:nth-child(5) {

        width: 20%;
        top: 19%;
        left: 25%;
    }

    .galery img:nth-child(6) {

        width: 35%;
        top: 22%;
        left: 45%;
    }


}