.rightBtn{
    width: 100px;
    height: 100px;
    max-height: 200px;
    background-color: red;
    z-index: 11;
}
.leftBtn{
    width: 100px;
    height: 100px;
    max-height: 200px;
    background-color: green;
    z-index: 11;
}
img{
    width: 20%;
}
video{
    width: 20%;
}