.projectsThemeContainer {
    height: 20vh;
    height: 20vh;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.projectsThemeContainer h1 {
    font-family: var(--fontHeading);
    font-weight: 400;
    font-style: normal;
    font-size: var(--MobileHeading);
    line-height: 25px;
    text-transform: uppercase;
    width: 80%;
    margin: auto;
    text-align: center;

}

.headImgInProject {
    width: 100vw;
    height: auto;

}

.aboutTheProject {
    width: 90%;
    margin: auto;
    height: 40vh;
    margin-top: 20vh;
}

.boxContainer {
    width: 45vw;
    height: 7em;
    position: relative;

}

.square {
    width: 50%;
    position: absolute;
    height: 80%;
    top: 0;
    left: 0;
    background-color: var(--colorPrimery);
    z-index: -2;

}

.boxContainer h1 {
    font-weight: 400;
    font-size: var(--MobileHeading);
    line-height: 25px;
    font-family: var(--fontHeading);
    z-index: 30;
    position: absolute;
    top: 1em;
    left: 2.5em;
}

.outsideSquare {
    width: 80px;
    height: 80px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    position: absolute;
    top: 1em;
    left: 2em;
}

.descriptionInProject {
    width: 85%;
    margin-left: 15%;
    word-wrap: break-word;

}

.smallGallery {
    width: 100%;
    height: 80vh;
    position: relative;

    


}

.smallGallery img:nth-child(1) {
    width: 50%;

    height: auto;
    position: absolute;
    top: 1em;
    margin: 0 36% 0 36%;
}

.smallGallery img:nth-child(2) {
    width: 50%;

    position: absolute;
    top: 2em;
    margin: 0 50% 0 22%;
}

.smallGallery img:nth-child(3) {
    width: 50%;

    position: absolute;
    top: 3em;
    margin: 0 42% 0 30%;
}

.scrolled img:nth-child(1) {
    width: 70%;
    top: 10%;
    left: 15%;
    transition: top 2s ease-in-out, left 2s ease-in-out;
    margin: 0;
}
.scrolled img:nth-child(2) {
    width: 70%;
    top: 40%;
    left: 15%;
    transition: top 2s ease-in-out, left 2s ease-in-out;
    margin: 0;
}
.scrolled img:nth-child(3) {
    width: 70%;
    top: 70%;
    left: 15%;
    transition: top 2s ease-in-out, left 2s ease-in-out;
    margin: 0;
}

.bigGalleryContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.bigGalleryContainer h1 {
    font-family: var(--fontHeading);
    font-style: normal;
    font-weight: 400;
    font-size: var(--MobileHeading);
    line-height: 25px;
    margin-left: 2em;
}

.gallery img {
    width: 100%;
}

.circleContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.circleFill {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50px;

}

.fill {
    background-color: black;
}

.rightBtn {
    width: 100px;
    height: 100px;
    max-height: 200px;
    background-color: transparent;
    z-index: 11;
}

.leftBtn {
    width: 100px;
    height: 100px;
    max-height: 200px;
    background-color: transparent;
    z-index: 11;
}

img {
    width: 100%;
}
.gallery{
    position: relative;
}
.btnsForGallery{
    display: flex;
    gap: 20%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0.6em;
}
.btnsForGallery div{
    width: 40%;
    height:100% ;
    z-index: 101;

}

.containerForProjects{
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: 100%;
}
.projectNext{
    width: 40%;
    margin: auto;
}
