

.headerServices{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 8em;
    padding: 1em;

}
.headerServices h1{
    line-height: 24.8px;
}

.imgContainer{
    width: 100%;
    height: 40vh;
}
.imgContainer img{
    width: 40%;
    position: absolute;
    right: 5%;
}
.scaleAnimation {
    animation: scale 1s forwards;
    transition: ease 1s;
    margin-top: 4em;

  }
  
  
  @keyframes scale {
    0% {
        width: 40%;

    }
    100% {
        width: 100%;
        right: 0%;
    }
  }
  .whatWeDo{
    background-color: var(--blackCol);
    width: 90%;
    color: var(--whiteCol);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 401px;
    padding-left: 10%;
  }
  .whatWeDo h1{
    width: 50%;
  }
  .whatWeDo p{
    width: 70%;
  }

  @media (min-width: 768px) {
    .imgContainer{
      width: 100%;
      height: 100vh;
  }
  .imgContainer img{
      width: 10%;
      position: absolute;
      right: 5%;
      margin: auto;
  }
  .scaleAnimation {
    animation: scale 1s forwards;
    transition: ease 1s;
    margin-top: 4em;

  }
  
  
  @keyframes scale {
    0% {
        width: 10%;

    }
    99%{
      right: 10%;
    }
    100% {
        width: 80%;
        right: auto;
    }
  }

  }