@font-face {
  font-family: 'NeueMontreal';
  src: url('./utils/NeueMontrealRegular400.otf') format('opentype');
}
@font-face {
  font-family: 'Unbounded';
  src: url('./utils/Unbounded/static/Unbounded-Regular.ttf') format('opentype')
}
:root{
  --headingSize : 32px;
  --paragraph: 16px;
  --fontHeading: 'Unbounded';
  --fontParagraph: 'NeueMontreal';
  --btnFont: 'NeueMontreal';
  --btnSize: 20px;
  --btnColor: #FCD660;
  --MobileBtn: 14px;
  --MobileHeading: 20px;
  --MobilePara: 14px;
  --MobileH2: 16px;
  --colorBackground: #D9D9D9;
  --colorPrimery: #FCD660;
  --colorAccent: #EDB3B6;
  --colorSecondary: #E4D9EA;
  --whiteCol: #fff;
  --blackCol: #000;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3{
  font-style: normal;
  font-weight: 400;
  font-family: var(--fontHeading);
  margin: 0px 0;
  font-size: var(--MobileHeading);
  line-height: 20.8px;

}

p{
  font-family: var(--fontParagraph);
  font-size: var(--MobilePara);
  line-height: 19px;
  font-weight: 400;
}

@media (min-width: 768px) {
  h1,h2,h3{
    font-size: var(--headingSize);
  line-height: 40px;

  }

  p{
    font-size: var(--paragraph);
  }

}
